# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*.class

# PyInstaller
build/
dist/
*.spec

# Application Specific
Input_Textures/
Output_Renders/
Output_Project_Files/
Assets/Textures/
blender_headless_render.py

# OS Files
.DS_Store
Thumbs.db

# Contest & Scratch Generator Scripts
generate_blender_assets.py
generate_media_and_textures.py
